@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  color: #263238; }

h1 {
  text-align: center; }

table {
  margin: 0 auto; }

tr {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

tr:nth-of-type(even) {
  background: rgba(0, 188, 212, 0.1); }

tr:hover {
  background: rgba(0, 188, 212, 0.5);
  color: #00343b; }

tr.like {
  background: rgba(236, 64, 122, 0.3); }

td {
  padding: .5rem; }
