<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Character entities</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Character entities</h1>
  <main id="entities">
    <div>
      <table>
        <thead>
          <tr>
            <th colspan="7">Farovites entities</th>
          </tr>
          <tr>
            <th scope="col">HTML</th>
            <th scope="col">Symbol</th>
            <th scope="col">Numeric</th>
            <th scope="col">Description</th>
            <th scope="col">Hex</th>
            <th scope="col">CSS (ISO)</th>
            <th scope="col">JS (Octal)</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entitie in entities" v-if="entitie.like">
            <td>{{entitie.html}}</td>
            <td>{{entitie.symbol}}</td>
            <td>{{entitie.numeric}}</td>
            <td>{{entitie.description}}</td>
            <td>{{entitie.hex}}</td>
            <td>{{entitie.cssIso}}</td>
            <td>{{entitie.jsOctal}}</td>
            <td><button @click="like(entitie)">Like</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <table>
      <thead>
        <tr>
          <th scope="col">HTML</th>
          <th scope="col">Symbol</th>
          <th scope="col">Numeric</th>
          <th scope="col">Description</th>
          <th scope="col">Hex</th>
          <th scope="col">CSS (ISO)</th>
          <th scope="col">JS (Octal)</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entitie in entities" v-bind:class="{ 'like':  entitie.like}">
          <td>{{entitie.html}}</td>
          <td>{{entitie.symbol}}</td>
          <td>{{entitie.numeric}}</td>
          <td>{{entitie.description}}</td>
          <td>{{entitie.hex}}</td>
          <td>{{entitie.cssIso}}</td>
          <td>{{entitie.jsOctal}}</td>
          <td><button @click="like(entitie)">Like</button></td>
        </tr>
      </tbody>
    </table>
    <p>{{count}} entities</p>
  </main>
  <script src="js/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
