<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Character entities</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Character entities</h1>
  <main id="entities">
    <div class="overlay-notification"><span class="icon-cmd"></span> Copied</div>
      <table v-if="hasLikes">
        <thead>
          <tr>
            <th colspan="8">Favorites entities</th>
          </tr>
          <tr>
            <th scope="col">HTML</th>
            <th scope="col">Symbol</th>
            <th scope="col">Numeric</th>
            <th scope="col">Description</th>
            <th scope="col">Hex</th>
            <th scope="col">CSS (ISO)</th>
            <th scope="col">JS (Octal)</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entitie in entities" v-if="entitie.like">
            <td @click="copy($event)">{{entitie.html}}</td>
            <td @click="copy($event)">{{entitie.symbol}}</td>
            <td @click="copy($event)">{{entitie.numeric}}</td>
            <td @click="copy($event)">{{entitie.description}}</td>
            <td @click="copy($event)">{{entitie.hex}}</td>
            <td @click="copy($event)">{{entitie.cssIso}}</td>
            <td @click="copy($event)">{{entitie.jsOctal}}</td>
            <td><button @click="like(entitie)"><span :class="entitie.like ? 'icon-heart' : 'icon-heart-o' "></span> {{likeCaption(entitie)}}</button></td>
          </tr>
        </tbody>
      </table>

    <table>
      <thead>
        <tr>
          <th scope="col">HTML</th>
          <th scope="col">Symbol</th>
          <th scope="col">Numeric</th>
          <th scope="col">Description</th>
          <th scope="col">Hex</th>
          <th scope="col">CSS (ISO)</th>
          <th scope="col">JS (Octal)</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entitie in entities" v-bind:class="{ 'like':  entitie.like}">
          <td @click="copy($event)">{{entitie.html}}</td>
          <td @click="copy($event)">{{entitie.symbol}}</td>
          <td @click="copy($event)">{{entitie.numeric}}</td>
          <td @click="copy($event)">{{entitie.description}}</td>
          <td @click="copy($event)">{{entitie.hex}}</td>
          <td @click="copy($event)">{{entitie.cssIso}}</td>
          <td @click="copy($event)">{{entitie.jsOctal}}</td>
          <td><button @click="like(entitie)"><span :class="entitie.like ? 'icon-heart' : 'icon-heart-o' "></span> {{likeCaption(entitie)}}</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8"><strong>{{count}} entities</strong></td>
        </tr>
      </tfoot>
    </table>
  </main>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
