<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Character entities</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Character entities</h1>
  <main id="entities">

    <div class="columns">
      <button
          v-for="column in columns" @click="toggleCol(column)"
          :class="{ 'active':  column.active}">
          {{column.title}}
      </button>
    </div>

    <div class="overlay-notification" id="overlay-notification">
        <span class="icon-cmd"></span> Copied
    </div>

      <table v-if="hasLikes">
        <thead>
          <tr>
            <th :colspan="countColumns">Favorites entities</th>
          </tr>
          <tr>
            <th scope="col" v-for="column in activeColumns">{{column.title}}</th>
            <th>&nbsp;</th>
          </tr>
      </thead>
        <tbody>
          <tr v-for="entitie in entities" v-if="entitie.like">
            <td @click="copy($event)" v-if="activeColumn('html')">{{entitie.html}}</td>
            <td @click="copy($event)" v-if="activeColumn('symbol')">{{entitie.symbol}}</td>
            <td @click="copy($event)" v-if="activeColumn('numeric')">{{entitie.numeric}}</td>
            <td @click="copy($event)" v-if="activeColumn('description')">{{entitie.description}}</td>
            <td @click="copy($event)" v-if="activeColumn('hex')">{{entitie.hex}}</td>
            <td @click="copy($event)" v-if="activeColumn('css')">{{entitie.cssIso}}</td>
            <td @click="copy($event)" v-if="activeColumn('js')">{{entitie.jsOctal}}</td>
            <td><button @click="like(entitie)"><span :class="entitie.like ? 'icon-heart' : 'icon-heart-o' "></span> {{likeCaption(entitie)}}</button></td>
          </tr>
        </tbody>
    </table>

    <table>
      <thead>
        <tr>
            <th scope="col" v-for="column in activeColumns">{{column.title}}</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entitie in entities" v-bind:class="{ 'like':  entitie.like}">
          <td @click="copy($event)" v-if="activeColumn('html')">{{entitie.html}}</td>
          <td @click="copy($event)" v-if="activeColumn('symbol')">{{entitie.symbol}}</td>
          <td @click="copy($event)" v-if="activeColumn('numeric')">{{entitie.numeric}}</td>
          <td @click="copy($event)" v-if="activeColumn('description')">{{entitie.description}}</td>
          <td @click="copy($event)" v-if="activeColumn('hex')">{{entitie.hex}}</td>
          <td @click="copy($event)" v-if="activeColumn('css')">{{entitie.cssIso}}</td>
          <td @click="copy($event)" v-if="activeColumn('js')">{{entitie.jsOctal}}</td>
          <td><button @click="like(entitie)"><span :class="entitie.like ? 'icon-heart' : 'icon-heart-o' "></span> {{likeCaption(entitie)}}</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td v-bind:colspan="countColumns"><strong>{{count}} entities</strong></td>
        </tr>
      </tfoot>
    </table>
  </main>

  <footer class="footer">
    <hr>
    <p>Coded <i class="fa fa-code" aria-hidden="true"></i> with love <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/iStuffs">@iStuffs</a></p>
  </footer>

  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/entities.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
